<header class="masthead">

  <nav class="language-nav">
    <ul>
      <li><a href="">CSS</a></li>
      <li><a href="">HTML</a></li>
      <li><a href="">Javascript</a></li>
      <li><a href="">Ruby</a></li>
    </ul>
  </nav>

  <div class="img-box">
    <img src="assets/AA_Times_Logo.png" alt="AA_Logo">
  </div>
  

  <nav class="masthead-links">
    <ul>
      <li>Tuesday, October 18, 2016</li>
      <li>
        <i class="far fa-newspaper"></i>
        <button>Today’s Paper</button>
      </li>
      <li>
        <i class="fas fa-video"></i>
        <button>Video</button>
      </li>
      <li>
        <button>77°F</button>
      </li>
      <li>
        <button>AAO <span id="ticker-percent">+100%</span></button>
      </li>
    </ul>
    
  </nav>
</header>
